body {
    font-family: 'Montserrat', sans-serif;
}
div.logo {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 25%;
}

#search-bar {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    width: 600px;
    height: 40px;
    transform: translate(-50%, -50%);
    top: 35%;
    border-radius: 25px;
}

.buttons {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 41%;
}

#search, #lucky {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    color: black;
    background-color: rgb(240, 240, 240);
}

li {
    display: inline;
    padding: 8px;
}

li a {
    color: #000000;
    font-size: 12px;
}

ul {
    display: flex;
    justify-content: space-between;
}